.news-feed{
    overflow-y: auto;
    max-height: 90%;
    max-width: 90%;
}

.news-item{
    margin-bottom: 15px;
    white-space: normal;
}

.news-item h1{
    color: black;
    font-size: 16pt;
    margin: 0px;
    color: black !important;
    padding-left: 17px;
}

.news-item p{
    margin-top: 0.3em;
    font-size: 14pt;
    margin-bottom: 0px;
    
}

.news-item small{
    font-size: 12pt;
}

.label {
    position: relative;
    font-size: 1.8em;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 3px;
}

.padded {
    color: #757575;
    padding-top: 0px;
}