.news-feed{
    overflow-y: auto;
    max-height: 90%;
}

.news-item{
    margin-bottom: 15px;
    background-color: #626465;
    white-space: normal;
}

.news-item h1{
    color: black;
    font-size: 0.6em;
    margin: 0px;
}

.news-item p{
    margin-top: 0.3em;
    font-size: 0.5em;
    margin-bottom: 0px;
    
}

.news-item small{
    font-size: 0.5em;
}

.label{
    position: relative;
    font-size: 0.8em;
}