<div ng-style="{'height': heightpx}" style="overflow-y: scroll;">
    <div ng-repeat="d in devices">
        <div class="form-group devices-select">
            <div class="checkbox">
                <label>
                    <input ng-click="click()" type="checkbox"><span class="check devicepicker-check" style="color:rgb({{d.r}},{{d.g}},{{d.b}}); display: inline-block; vertical-align: top;"></span><span>{{d.name}}</span>
                </label>
            </div>
            </div>
        </div>
    </div>

