<div class="row reservationpage">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{date| date : 'EEEE d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-endar date="date" class="cal" btn-class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ 'FROM' | translate }} {{r.start | hours}} {{ 'TO' | translate }} {{r.end | hours}}</h1>
            </div>

            <!-- <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div> -->

            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="from" class="col-lg-2 control-label">{{ 'FROM' | translate }}</label>
                        <div class="col-lg-10">
                        <select ng-model="r.start" class="form-control" id="from">
                            <option value="0">{{"00:00" | localizeres}}</option>
                            <option value="1">{{"00:30" | localizeres}}</option>
                            <option value="2">{{"01:00" | localizeres}}</option>
                            <option value="3">{{"01:30" | localizeres}}</option>
                            <option value="4">{{"02:00" | localizeres}}</option>
                            <option value="5">{{"02:30" | localizeres}}</option>
                            <option value="6">{{"03:00" | localizeres}}</option>
                            <option value="7">{{"03:30" | localizeres}}</option>
                            <option value="8">{{"04:00" | localizeres}}</option>
                            <option value="9">{{"04:30" | localizeres}}</option>
                            <option value="10">{{"05:00" | localizeres}}</option>
                            <option value="11">{{"05:30" | localizeres}}</option>
                            <option value="12">{{"06:00" | localizeres}}</option>
                            <option value="13">{{"06:30" | localizeres}}</option>
                            <option value="14">{{"07:00" | localizeres}}</option>
                            <option value="15">{{"07:30" | localizeres}}</option>
                            <option value="16">{{"08:00" | localizeres}}</option>
                            <option value="17">{{"08:30" | localizeres}}</option>
                            <option value="18">{{"09:00" | localizeres}}</option>
                            <option value="19">{{"09:30" | localizeres}}</option>
                            <option value="20">{{"10:00" | localizeres}}</option>
                            <option value="21">{{"10:30" | localizeres}}</option>
                            <option value="22">{{"11:00" | localizeres}}</option>
                            <option value="23">{{"11:30" | localizeres}}</option>
                            <option value="24">{{"12:00" | localizeres}}</option>
                            <option value="25">{{"12:30" | localizeres}}</option>
                            <option value="26">{{"13:00" | localizeres}}</option>
                            <option value="27">{{"13:30" | localizeres}}</option>
                            <option value="28">{{"14:00" | localizeres}}</option>
                            <option value="29">{{"14:30" | localizeres}}</option>
                            <option value="30">{{"15:00" | localizeres}}</option>
                            <option value="31">{{"15:30" | localizeres}}</option>
                            <option value="32">{{"16:00" | localizeres}}</option>
                            <option value="33">{{"16:30" | localizeres}}</option>
                            <option value="34">{{"17:00" | localizeres}}</option>
                            <option value="35">{{"17:30" | localizeres}}</option>
                            <option value="36">{{"18:00" | localizeres}}</option>
                            <option value="37">{{"18:30" | localizeres}}</option>
                            <option value="38">{{"19:00" | localizeres}}</option>
                            <option value="39">{{"19:30" | localizeres}}</option>
                            <option value="40">{{"20:00" | localizeres}}</option>
                            <option value="41">{{"20:30" | localizeres}}</option>
                            <option value="42">{{"21:00" | localizeres}}</option>
                            <option value="43">{{"21:30" | localizeres}}</option>
                            <option value="44">{{"22:00" | localizeres}}</option>
                            <option value="45">{{"22:30" | localizeres}}</option>
                            <option value="46">{{"23:00" | localizeres}}</option>
                            <option value="47">{{"23:30" | localizeres}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="to" class="col-lg-2 control-label">{{ 'TO' | translate }}</label>
                        <div class="col-lg-10">
                        <select ng-model="r.end" class="form-control" id="to">
                             <option value="1">{{"00:30" | localizeres}}</option>
                            <option value="2">{{"01:00" | localizeres}}</option>
                            <option value="3">{{"01:30" | localizeres}}</option>
                            <option value="4">{{"02:00" | localizeres}}</option>
                            <option value="5">{{"02:30" | localizeres}}</option>
                            <option value="6">{{"03:00" | localizeres}}</option>
                            <option value="7">{{"03:30" | localizeres}}</option>
                            <option value="8">{{"04:00" | localizeres}}</option>
                            <option value="9">{{"04:30" | localizeres}}</option>
                            <option value="10">{{"05:00" | localizeres}}</option>
                            <option value="11">{{"05:30" | localizeres}}</option>
                            <option value="12">{{"06:00" | localizeres}}</option>
                            <option value="13">{{"06:30" | localizeres}}</option>
                            <option value="14">{{"07:00" | localizeres}}</option>
                            <option value="15">{{"07:30" | localizeres}}</option>
                            <option value="16">{{"08:00" | localizeres}}</option>
                            <option value="17">{{"08:30" | localizeres}}</option>
                            <option value="18">{{"09:00" | localizeres}}</option>
                            <option value="19">{{"09:30" | localizeres}}</option>
                            <option value="20">{{"10:00" | localizeres}}</option>
                            <option value="21">{{"10:30" | localizeres}}</option>
                            <option value="22">{{"11:00" | localizeres}}</option>
                            <option value="23">{{"11:30" | localizeres}}</option>
                            <option value="24">{{"12:00" | localizeres}}</option>
                            <option value="25">{{"12:30" | localizeres}}</option>
                            <option value="26">{{"13:00" | localizeres}}</option>
                            <option value="27">{{"13:30" | localizeres}}</option>
                            <option value="28">{{"14:00" | localizeres}}</option>
                            <option value="29">{{"14:30" | localizeres}}</option>
                            <option value="30">{{"15:00" | localizeres}}</option>
                            <option value="31">{{"15:30" | localizeres}}</option>
                            <option value="32">{{"16:00" | localizeres}}</option>
                            <option value="33">{{"16:30" | localizeres}}</option>
                            <option value="34">{{"17:00" | localizeres}}</option>
                            <option value="35">{{"17:30" | localizeres}}</option>
                            <option value="36">{{"18:00" | localizeres}}</option>
                            <option value="37">{{"18:30" | localizeres}}</option>
                            <option value="38">{{"19:00" | localizeres}}</option>
                            <option value="39">{{"19:30" | localizeres}}</option>
                            <option value="40">{{"20:00" | localizeres}}</option>
                            <option value="41">{{"20:30" | localizeres}}</option>
                            <option value="42">{{"21:00" | localizeres}}</option>
                            <option value="43">{{"21:30" | localizeres}}</option>
                            <option value="44">{{"22:00" | localizeres}}</option>
                            <option value="45">{{"22:30" | localizeres}}</option>
                            <option value="46">{{"23:00" | localizeres}}</option>
                            <option value="47">{{"23:30" | localizeres}}</option>
                            <option value="48">{{"24:00" | localizeres}}</option>
                        </select>
                        </div>
                    </div>
                </form>
                <div class="form-horizontal">
                <div class="form-group">
                    <label for="startupName" class="col-lg-2 control-label">{{ 'RESERVATION_STARTUP_NAME' | translate }}</label>
                    <div class="col-lg-10">
                        <div class="form-control-wrapper">
                            <input id="startupName"cal-enable-owner="{{r.person}}" class="form-control" placeholder="{{ 'RESERVATION_STARTUP_NAME' | translate }}" ng-model="r.title">
                            <span class="material-input">
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="r.person">
                    <label class="col-lg-2 control-label">{{ 'USER' | translate }}</label>
                    <div class="col-lg-10">    
                        <input type="text" class="form-control" placeholder="{{ 'USER' | translate }}" ng-model="r.person" disabled>
                    </div>
                </div>
            </div>
                <div class="alert alert-danger" ng-show="error.collision || error.deleted">
                    <!--<p ng-show="error.collision">{{'ERR_COLLISION' | translate}}</p>-->
                    <p ng-show="error.deleted">{{'ERR_DELETED' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{'PURPOSE_TITLE_PANEL' | translate}}</h1>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>{{ 'PURPOSE' | translate }}</label>
                        <select ng-model="purpose.type" class="form-control" ng-change="changePurposeType()">
                            <option value="MOBILE_APP">{{'MOBILE_APP' | translate}}</option>
                            <option value="WEB_SITE">{{'WEB_SITE' | translate}}</option>
                            <option value="OTHER">{{'OTHER' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="purpose.titlePlaceHolder != ''">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{ 'PURPOSE_TITLE' | translate }}</label>
                                 <div class="form-control-wrapper"> 
                                <input class="form-control" placeholder="{{purpose.titlePlaceHolder | translate}}" ng-change="changePurposeTitle()" ng-model="purpose.title">
                                <span class="material-input">
                                </div>
                               <!--  <input class="form-control" placeholder="{{purpose.titlePlaceHolder | translate}}" ng-change="changePurposeTitle()"
                                       ng-model="purpose.title"> -->
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'PURPOSE_YOUR_LIST' | translate }}</label>
                                <select ng-model="selectedPurDS" class="form-control" ng-change="selectPurpose()">
                                    <option value='' disabled selected style='display:none;'>{{'PURPOSE_CHOOSE' | translate}}</option>
                                    <option value="{{purDS}}" ng-repeat="purDS in listPurpose">{{purDS.type | translate}} - {{purDS.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{'DEVICES' | translate}}</h1>
            </div>
            <div class="panel-body">
                <table class="multiselect">
                    <tr ng-repeat="asset in sassets">
                        <td ng-click="removeAsset(asset.number)" cal-show-owner="{{r.person}}">
                            <span class="icon-x-altx-alt"></span>
                        </td>
                        <td>
                            <select ng-show="!asset.raw || asset.raw.active" cal-enable-owner="{{r.person}}" class="form-control" ng-model="asset.value" ng-options="t.id as t.name for t in assets"></select>
                            <input class="form-control" ng-hide="!asset.raw || asset.raw.active" type="text" value="{{asset.raw.name}} ({{'DEVICE_DELETED'|translate}})" disabled />
                        </td>
                    </tr>
                    <tr cal-show-owner="{{r.person}}">
                        <td ng-click="addAsset()">
                            <span class="icon-plus-square"></span>
                        </td>
                        <td>
                            <select class="form-control" ng-options="t.id as t.name for t in assets" disabled></select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
<div class="form-group">
        <div class="alert alert-danger col-sm-3" ng-show="error.mandatoryMessage" style="float:right; margin-right: 15px;">
            <p>{{error.text | translate}}</p>
        </div>
    <div class="col-sm-12">
        <button cal-show-owner="{{r.person}}" class="btn btn-primary" ng-click="submit()" style="float:right">{{'BUTTON_SAVE' | translate}}</button>
        <a class="btn btn-danger" href="#/calendar" style="float:right">{{'BUTTON_CANCEL' | translate}}</a>
        <button cal-show-owner="{{r.person}}" ng-show="r.id" class="btn btn-danger" ng-click="delete()" style="float:right">{{'BUTTON_DELETE' | translate}}</button>
    </div>
</div>
</div>
