<div class="container">
<div class="row">
    <div class="col-md-12 no-padding-page device-results">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">{{ 'DEVICE' | translate }} : {{stats.asset.name}}</h5>
            </div>
            <table class="table">
                <tr>
                    <th><h5>{{'NAME' | translate}}</h5></th>
                    <th><h5>{{ 'REPORT_BOOKING_HOUR' | translate }}</h5></th>
                    <th><h5>{{ 'REPORT_BOOKING_NUM' | translate }}</h5></th>
                </tr>
                <tr ng-repeat="line in stats.data">
                    <td>
                        <a href="#/stats/person/{{line.person.mail}}">
                            {{line.person.name}}
                        </a>
                    </td>
                    <td>{{line.hoursPast | hours}} <!--(+{{line.hoursFuture | hours}})--></td>
                    <td>{{line.count}} {{ 'reservations' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>