<div class="container">
<div class="row">
    <h1 class="page-title">{{ 'DEVICES' | translate }}</h1>
    <div class="col-md-12 stats-devices">
        <div class="panel panel-default">
            <!-- <div class="panel-heading">
                <h3 class="panel-title">{{ 'DEVICES' | translate }}</h3>
            </div> -->
            <table class="table table-hover">
                <tr ng-repeat="line in stats">
                    <td>
                        <a href="#/stats/device/{{line.asset.id}}">
                            {{line.asset.name}}
                        </a>
                    </td>
                    <td>{{line.hoursPast | hours}} (+{{line.hoursFuture | hours}})</td>
                    <td>{{line.count}} {{ 'reservations' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>