<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'USER' | translate}} : {{stats.person.name}}</h3>
            </div>
            <table class="table">
                <tr ng-repeat="line in stats.data">
                    <td>
                        {{line.asset.name}}
                    </td>
                    <td>{{line.hoursPast | hours}} (+{{line.hoursFuture | hours}})</td>
                    <td>{{line.count}} {{ 'reservations' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>