<div class="container">
<div class="row">
     <h1 class="page-title">{{'Stats' | translate}}</h1>
    <div class="col-md-12 statsme-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">{{ 'USER' | translate}} : {{stats.person.name}}</h5>
            </div>
            <table class="table">
                <tr ng-repeat="line in stats.data">
                    <td>
                        {{line.asset.name}}
                    </td>
                    <td>{{line.hoursPast | hours}} (+{{line.hoursFuture | hours}})</td>
                    <td>{{line.count}} {{ 'reservations' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>