<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'USER' | translate}} : {{stats.person.name}}</h3>
            </div>
            <table class="table table-hover">
                <tr>
                    <th><h5><strong>{{'NAME' | translate}}</strong></h5></th>
                    <th><h5><strong>{{ 'REPORT_BOOKING_HOUR' | translate }}</strong></h5></th>
                    <th><h5><strong>{{ 'REPORT_BOOKING_NUM' | translate }}</strong></h5></th>
                </tr>
                <tr ng-repeat="line in stats.data">
                    <td>
                        <a href="#/stats/device/{{line.asset.id}}">
                            {{line.asset.name}}
                        </a>
                    </td>
                    <td>{{line.hoursPast | hours}} (+{{line.hoursFuture | hours}})</td>
                    <td>{{line.count}} {{ 'reservations' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>