<h3 class="topcoat-list__header">{{'DEVICE' | translate}}</h3>
<div class="padded">
    <input type="text" ng-model="a.name" placeholder="{{'DEVICE_NAME' | translate}}" class="form-control"/>
</div>
<div class="padded">
    <input type="text" ng-model="a.type" placeholder="{{'DEVICE_TYPE' | translate}}" class="form-control"/>
</div>
 <div class="form-group">
                 <label for="sl_os">{{ 'OS' | translate }}</label>
                 <select ng-model="a.os" class="form-control" id="sl_os">                   
                     <option value="ANDROID">{{'ANDROID' | translate}}</option>
                     <option value="IOS">{{'IOS' | translate}}</option>
                     <option value="WINDOWS_PHONE">{{'WINDOWS_PHONE' | translate}}</option> 
                     <option value="ANDROID_WEAR">{{'ANDROID_WEAR' | translate}}</option>
                     <option value="OS_OTHERS">{{'OS_OTHERS' | translate}}</option>
                 </select>
             </div>

<h3 class="topcoat-list__header">{{'DEVICE_COLOR' | translate}}</h3>
<div class="padded">
    <div style="
         padding: 3px;
         border: 1px solid rgb({{rgb.r}},{{rgb.g}},{{rgb.b}});
         background-color: rgba({{rgb.r}},{{rgb.g}},{{rgb.b}},0.5);
        ">
             {{'DEVICE_COLOR' | translate}}
    </div>
</div>
<div class="padded">
    <color-pick model="rgb" />
</div>
<div class="alert" ng-show="error">
    <p class="padded">{{error | translate}}</p>
</div>
<div class="padded">
    <button class="btn btn-primary" ng-click="submit()">{{'BUTTON_SAVE' | translate}}</button>
    <button class="btn btn-danger" ng-click="goTo()">{{'CANCEL' | translate}}</button>
</div>
