<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">{{'DEVICES' | translate}}</div>
            <div class="panel-body">
                <a href="#/asset/new" class="btn btn-primary btn-block">{{'BUTTON_NEW' | translate}}</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="a in assets">
                    <a href="#/asset/edit/{{a.id}}">{{a.name}}</a>
                    <cal-delete action="delete(a.id)" b-class="icon-x-altx-alt actions"></cal-delete>
                </li>
            </ul>
        </div>
    </div>
</div>
