<html>
    <head>
        <title>Device Lab</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="../app/compiled.desktop.js"></script>
        <!--<script src="../app/compiled.desktop.js"></script>-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../js/libs/angular-file-upload-html5-shim.min.js"></script>
        <script src="../js/libs/PointerEvents.js"></script>
        <script src="../js/libs/snap.js"></script>
        <script src="../js/libs/colorpicker.js"></script>
        <script src="../js/libs/angular.1.3.0.js"></script>
        <script src="../js/libs/angular.sanitize.1.3.0.js"></script>
        <script src="../js/libs/angular-ui-router.min.js"></script>
        <script src="../js/libs/angular-snap.js"></script>
        <script src="../js/libs/angular-translate.min.js"></script>
        <script src="../js/libs/angular-translate-static-loader.min.js"></script>
        <script src="../js/libs/angular-file-upload.min.js"></script>
        <script src="../app/route.js"></script>
        <script src="../app/filters.js"></script>
        <script src="../app/lang.js"></script>
        <script src="../app/endpoints.js"></script>
        <script src="../app/controllers.js"></script>
        <script src="../app/asset-ctrl.js"></script>
        <script src="../app/type-ctrl.js"></script>
        <script src="../app/register-ctrl.js"></script>
        <script src="../app/locations-ctrl.js"></script>
        <script src="../app/reservation-ctrl.js"></script>
        <script src="../app/news-ctrl.js"></script>
        <script src="../app/stats-ctrl.js"></script>
        <script src="../app/reportglobal-ctrl.js"></script>
        <script src="../directives/hourpicker/hourpicker.js"></script>
        <script src="../directives/calendar/calendar.js"></script>
        <script src="../directives/bmenu/bmenu.js"></script>
        <script src="../directives/favorite/favorite.js"></script>
        <script src="../directives/colorpicker/colorpicker.js"></script>
        <script src="../directives/newsfeed/newsfeed.js"></script>
        <script src="../directives/calsecurity/calsecurity.js"></script>
        <script src="../directives/delete/delete.js"></script>
        <script src="../directives/linkify/linkify.js"></script>
        <script src="../directives/devicepicker/devicepicker.js"></script>
        <script src="../directives/checkboxes/checkboxes.js"></script>
        <script src="../js/bootstrap.js"></script>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap2.min.css">
        <link rel="stylesheet" href="../css/angular-snap.css">
        <link rel="stylesheet" href="../directives/calendar/calendar.css">
        <link rel="stylesheet" href="../directives/hourpicker/hourpicker.css">
        <link rel="stylesheet" href="../directives/colorpicker/colorpicker.css">
        <link rel="stylesheet" href="../css/icomoon/style.css">
        <link rel="stylesheet" href="../css/register.css">
        <link rel="stylesheet" href="../css/material.css">
        <link rel="stylesheet" href="../css/ripples.min.css">
        <link rel="stylesheet" href="../css/desktop.css">
        <script src="../js/bootstrap.js"></script>
        
        <!-- <link rel="stylesheet" href="../css/compiled.desktop.css"> -->
        <link rel="stylesheet" href="../css/desktop.css">
        <!--<link rel="stylesheet" href="../css/compiled.desktop.css">-->
        
    </head>
    <script type="text/javascript">
    var drop_open = false;
    function showDrop() {
        if(drop_open){
            $(".dropdown-menu").css("display","none");
            drop_open = false;
        }
        if(!drop_open){
            $(".dropdown-menu").css("display","block");
            drop_open = true;
        } 
    }
    $(".dropdown-menu").on('click', function (e) {
        console.log('this is the click');
        e.preventDefault();
    });
    $(document).mouseup(function(e){
            var menu = $(".dropdown-menu");
            if (!menu.is(e.target) && menu.has(e.target).length === 0 && drop_open)
            {
                menu.css("display","none");
            }
    });
    </script>
    <body ng-app="cal">
        <div ng-controller="RegisterCtrl">
            <div ng-include="'/fragments/register.html'"></div>
            <div ng-include="'/fragments/loading.html'"></div>
        </div>
        <div snap-drawers>
            <div ng-include="'/fragments/menu.html'"></div>
            <div ng-include="'/fragments/locations.html'"></div>
        </div>
        <div snap-content>
            <div id="header" snap-dragger>
                <!-- <h1 id="header-title">
                    <span  snap-toggle="left"><span class="icon-bars"></span></span>
                    <span class="pull-right" snap-toggle="right"><span class="icon-globe"></span></span>
                    <span id ="title" snap-toggle="left" ng-controller="TitleCtrl">{{page}}<span id="title-loc">   {{location}}</span></span>
                </h1> -->
                <h1 id="header-title">
                    <span  snap-toggle="left"><span class="icon-bars"></span></span>
                    <span class="pull-right" snap-toggle="right"></span>
                    <span id ="title" snap-toggle="left" ng-controller="TitleCtrl">{{page}}</span>
                </h1>
                <div id="title-location">
                    <div class="dropdown">
                      <a id="drop" class="dropdown-toggle" data-toggle="dropdown" onClick="showDrop()">
                        <span id ="title" ng-controller="TitleCtrl"><span id="title-loc">  {{location}}</span></span>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <div ng-controller="LocationDrawer">
                            <li ng-repeat="location in locations" ng-click="set(location.id)" role="menuitem" tabindex="-1"><span id="drop-loc-text">{{location.name}}</span><span class="icon-star" style="color: #E1E0E2; float: right; padding-top: 5px; padding-right: 7px;">
                            </span></li>
                        </div>
                      </ul>
                </div>
                </div> 
            </div>
            <div class="container-fluid">
                <div ui-view></div>
            </div>
        </div>
        
    </body>
</html>
