<div class="row">
    <div class="col-md-12 news">
        <news-feed p-class="content" rank="0" limit="2" ></news-feed>
    </div>
    <div class="pull-right">
        <button type="button" ng-click="goTo('#/news')" class="btn btn-link">{{'SEE_MORE_NEWS' | translate}}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <button type="button" class="btn btn-link pull-left" ng-click="addDays(-5)">
            <span class="icon-chevron-left" style="margin-right: 2px;"></span>
            {{ 'PREVIOUS_5_DAYS' | translate}}
        </button>
        <button type="button" class="btn btn-link pull-right" ng-click="addDays(5)">
            {{ 'NEXT_5_DAYS' | translate}}
            <span class="icon-chevron-right" style="margin-left: 2px;"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="well text-center" ng-show="!isCalendarVisible" style="padding: 2px; margin-bottom: 10px;">
            <button type="button" class="btn btn-link" ng-click="visibilityCalendar()">
                <span class="icon-calendar"></span> 
                <span>{{'OPEN_CALENDAR' | translate}}</span>
            </button>
        </div>
        <div class="panel panel-default" ng-show="isCalendarVisible">
            <!--<div class="pull-right" style="padding-top: 8px;">
                <img src="../css/img/drop-down-triangle.png" title="{{'HIDE' | translate}}"/>
            </div>-->
            <div class="panel-body no-padding">
                <cal-endar date="date" class="cal" btn-class="btn btn-primary btn-block" viscalmethod="visibilityCalendar()"/>
            </div>
        </div>
            
        <div class="well">
            <div>
                <device-picker filter="search.assets" heightpx="wellDeviceHeight"></device-picker>
            </div>
            <div>
                <input type="checkbox" ng-click="toggle()">
                {{ 'CAL_FILTER_MINE' | translate}}
            </div>
                
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{date | date : 'EEE, d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-hour-picker min="0" max="24" id="calhour0" class="day" date="date" offset="0" filter="search" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{datePlus(1) | date : 'EEE, d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-hour-picker min="0" max="24" id="calhour1" class="day" date="date" offset="1" filter="search" />
            </div>
        </div>
    </div><div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{datePlus(2) | date : 'EEE, d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-hour-picker min="0" max="24" id="calhour2" class="day" date="date" offset="2" filter="search" />
            </div>
        </div>
    </div><div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{datePlus(3) | date : 'EEE, d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-hour-picker min="0" max="24" id="calhour3" class="day" date="date" offset="3" filter="search" />
            </div>
        </div>
    </div><div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{datePlus(4) | date : 'EEE, d MMMM'}}</h1>
            </div>
            <div class="panel-body no-padding">
                <cal-hour-picker min="0" max="24" id="calhour4" class="day" date="date" offset="4" filter="search" />
            </div>
        </div>
    </div>
</div>