<div class="row">
    <news-feed class="col-md-12 news" p-class="col-md-6" rank="0" limit="2" id="news-sec"></news-feed>
</div>
<div class="row">
    <div class="col-md-12 ng-isolate-scope" id="week-select">
        <h2 id="week-dates"><span class="arrow-left" ng-click="addDays(-5)"></span>{{date | date : 'MMM d'}} - {{datePlus(5) | date : 'MMM d'}} <span class="light">{{date | date : 'yyyy'}}</span><span class="arrow-right" ng-click="addDays(5)"></span></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="well text-center" ng-show="!isCalendarVisible" style="padding: 2px; margin-bottom: 10px;">
            <button type="button" class="btn btn-link" ng-click="visibilityCalendar()">
                <span style="color: black" class="icon-calendar"></span> 
                <span>{{'OPEN_CALENDAR' | translate}}</span>
            </button>
        </div>
        <div class="panel panel-default" ng-show="isCalendarVisible">
            <!--<div class="pull-right" style="padding-top: 8px;">
                <img src="../css/img/drop-down-triangle.png" title="{{'HIDE' | translate}}"/>
            </div>-->
            <div class="panel-body no-padding">
                <cal-endar date="date" class="cal" btn-class="btn btn-primary btn-block" viscalmethod="visibilityCalendar()"/>
            </div>
        </div>
<!--  Devices Section -->
<div class="devices">
    <p>DEVICES</p>
    <div>
        <div>
            <device-picker filter="search.assets" heightpx="wellDeviceHeight"></device-picker>
        </div>
        <div class="form-group">
            <hr style="margin-left: 0px; width: 90%; border-top: 1px solid #E1E0E2;"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="toggle()"><span class="check"></span> {{ 'CAL_FILTER_MINE' | translate}}
                </label>
            </div>
        </div>
    </div>
</div>
</div> 
<div class="col-md-2">
    <div class="panel panel-default cal-day">
        <div class="panel-heading">
            <p class="weekcal-day light">{{date | date : 'MMMM'}}<p>
                <h1 class="weekcal">{{date | date : 'EEE d'}}</h1>
            </div>
            <div class="panel-body no-padding left-padding">
                <cal-hour-picker min="0" max="24" id="calhour0" class="day" date="date" offset="0" filter="search" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default cal-day">
            <div class="panel-heading">
                <p class="weekcal-day light">{{date | date : 'MMMM'}}<p>
                    <h1 class="weekcal">{{datePlus(1) | date : 'EEE d'}}</h1>
                </div>
                <div class="panel-body no-padding left-padding">
                    <cal-hour-picker min="0" max="24" id="calhour1" class="day" date="date" offset="1" filter="search" />
                </div>
            </div>
        </div><div class="col-md-2">
        <div class="panel panel-default cal-day">
            <div class="panel-heading">
                <p class="weekcal-day light">{{date | date : 'MMMM'}}<p>
                    <h1 class="weekcal">{{datePlus(2) | date : 'EEE d'}}</h1>
                </div>
                <div class="panel-body no-padding left-padding">
                    <cal-hour-picker min="0" max="24" id="calhour2" class="day" date="date" offset="2" filter="search" />
                </div>
            </div>
        </div><div class="col-md-2">
        <div class="panel panel-default cal-day">
            <div class="panel-heading light">
                <p class="weekcal-day light">{{date | date : 'MMMM'}}<p>
                    <h1 class="weekcal">{{datePlus(3) | date : 'EEE d'}}</h1>
                </div>
                <div class="panel-body no-padding left-padding">
                    <cal-hour-picker min="0" max="24" id="calhour3" class="day" date="date" offset="3" filter="search" />
                </div>
            </div>
        </div><div class="col-md-2">
        <div class="panel panel-default cal-day">
            <div class="panel-heading">
                <p class="weekcal-day light">{{date | date : 'MMMM'}}<p>
                    <h1 class="weekcal">{{datePlus(4) | date : 'EEE d'}}</h1>
                </div>
                <div class="panel-body no-padding left-padding">
                    <cal-hour-picker min="0" max="24" id="calhour4" class="day" date="date" offset="4" filter="search" />
                </div>
            </div>
        </div>
    </div>
