<div style="
     padding: 0px;
     margin: 0px;
     border-width: 0px;
     position: relative
     ">
<div id="{{id}}_range" class="range noclick"></div>
<div id="{{event.id}}_range" class="range inside" ng-repeat="event in events | reservations: filter" 
     style="top:{{event.top}}; 
     height:{{event.height}}; 
     display: block; 
     width:70%;
     border-left-width: 1px;
     border-left: 1px solid black;
     right: 0px;
     background: linear-gradient(to right, {{event.gradient}}); 
     border-color: #333434;
     "
     ng-click="goto(event.id)"
     title="{{event.title}}"
     >
    <p>{{event.title}}</p>
</div>
<ul id="{{id}}_h" style="user-select: none; width: 25px; float: left; margin-top: 4px;" class="hp-hours">
    <li ng-repeat="hour in hours" data-value="{{hour}}" style="height: 30px; text-align: center;">
        {{hour}}
    </li>
</ul>
<ul id="{{id}}" touch-action="none" style="user-select: none; margin-left: 26px;" class="hp-picker">
    <li ng-repeat="hour in hours" data-value="{{1*min+1*hour-1}}" id="{{id}}_{{1*min+1*hour-1}}" style="height: 15px;">
    </li>
    <li ng-repeat="hour in hours" data-value="{{1*max+1*hour}}" id="{{id}}_{{1*max+1*hour}}" style="height: 15px;">
    </li>
</ul>
</div>