/* 
    Created on : 25 mars 2014, 15:52:40
    Author     : Clement <clement.hannicq@revevol.eu>
*/
.range{
    background:#9BCB64;
    border-radius:10px;
    position: absolute;
    display: none;
    overflow: hidden;
}

.noclick{
    pointer-events:none;
}

.day li{
    padding-top: 4px;
    padding-bottom: 4px;
}

.inside p{
    margin-left: 3px;
    margin-top: 3px;
    padding: 0px;
    text-overflow: ellipsis;
}

.hp-hours, .hp-picker{
    list-style: none;
}

ul.hp-hours, .hp-hours li, ul.hp-picker, .hp-picker li{
    margin: 0px;
    padding: 0px;
    display: block;

}
ul.hp-picker li:nth-child(odd){
    border-bottom: 2px solid #EFEFEF;
}