<div style="
     padding: 0px;
     margin: 0px;
     border-width: 0px;
     position: relative;
     max-height: 80%;
     overflow: auto;
     overflow-x: hidden;
     padding-top: 10px;
     " class="hour-picker-v-scroll-bar">
<div id="{{id}}_range" class="range noclick"></div>
<div id="{{event.id}}_range" class="range inside" ng-repeat="event in events | reservations: filter" 
     style="top:{{event.top}}; 
     height:{{event.height}}; 
     display: block; 
     width:{{event.width_perc}};
     border-left-width: 1px;
     right: 28px;
     background: linear-gradient(to right, {{event.gradient}}); 
     border-color: #333434;
     text-align: center;,
     color: white;"
     ng-click="goto(event.id)"
     title="{{event.title}}"
     >
    <p style="text-align: center; color: white;">{{event.title}}</p>
</div>
<ul id="{{id}}_h" style="user-select: none; width: 46px; float: left; font-size: 10pt; margin-top: -10px;" class="hp-hours">
    <li ng-repeat="hour in hours" data-value="{{hour}}" data-value="{{hour}}" ng-if="hour < 24" style="text-align: center;" class="light hp-hours-time">
        {{hour | localize}}
    </li>
</ul>
<ul id="{{id}}" touch-action="none" style="user-select: none; margin-left: 46px; margin-right: 5px;" class="hp-picker">
    <li ng-repeat="hour in hours" data-value="{{1*min+1*hour-1}}" id="{{id}}_{{1*min+1*hour-1}}" class="hp-picker-lines">
    </li>
    <li ng-repeat="hour in hours" data-value="{{1*max+1*hour}}" id="{{id}}_{{1*max+1*hour}}" class="hp-picker-lines">
    </li>
</ul>
</div>