<div style="
     padding: 0px;
     margin: 0px;
     border-width: 0px;
     position: relative;
     height: 330px;
     max-height: 330px;
     overflow: auto;
     overflow-x: hidden;
     " class="hour-picker-v-scroll-bar">
<div id="{{id}}_range" class="range noclick"></div>
<div id="{{event.id}}_range" class="range inside" ng-repeat="event in events | reservations: filter" 
     style="top:{{event.top}}; 
     height:{{event.height}}; 
     display: block; 
     width:{{event.width_perc}};
     border-left-width: 1px;
     border-left: 1px solid white;
     border-color:white !important;
     right: {{event.right}};
     background: linear-gradient(to right, {{event.gradient}}); 
     border-color: #333434;
     "
     ng-click="goto(event.id)"
     title="{{event.title}}"
     >
    <p>{{event.title}}</p>
</div>
<ul id="{{id}}_h" style="user-select: none; width: 48px; float: left; padding-top: 0px; border-right: 1px solid darkgray;" class="hp-hours">
    <li ng-repeat="hour in hours" data-value="{{hour}}" ng-if="hour < 24"
        style="height: 30px; text-align: right; border-bottom: 1px solid #d4d4d4;padding: 1px;font-size: 9;">
        {{hour + ":00" | localize}}
    </li>
</ul>
<ul id="{{id}}" touch-action="none" style="user-select: none; margin-left: 48px;" class="hp-picker">
    <li ng-repeat="hour in hours" data-value="{{1*min+1*hour}}" id="{{id}}_{{1*min+1*hour}}"
        style="height: 15px;border-bottom: 1px {{borderStriped(hour)}} #d4d4d4;font-size: 12;">
    </li>
    <li ng-repeat="hour in hours" data-value="{{1*max+1*hour+1}}" id="{{id}}_{{1*max+1*hour+1}}" ng-if="hour < 23"
        style="height: 15px;border-bottom: 1px {{borderStriped(hour+1)}} #d4d4d4;font-size: 12;">
    </li>
</ul>
</div>