<div class="topcoat-list">
    <h3 class="topcoat-list__header">{{'NEWS' | translate}}</h3>
    <ul class="topcoat-list__container">
        <h3 class="topcoat-list__header">
            <span class="pull-left" ng-class="prevPageDisabled()" ng-click="prevPage()">&lt;</span>
            <span class="pull-right" ng-class="nextPageDisabled()" ng-click="nextPage()">&gt;</span>
            <span class="center">
                <span>{{currentPage+1}}</span>
                <span>{{'OF' | translate}}</span>
                <span>{{pageCount()+1}}</span>
            </span>
            
        </h3>
        <li class="topcoat-list__item" ng-repeat="n in news | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
            <a href="#/news/edit/{{n.id}}">{{n.title}}</a>
            <span class="actions">
                <span ng-show="n.broadcast" cal-show-global>
                    <cal-delete b-class="icon-x-altx-alt" action="delete(n.id)"></cal-delete>
                </span>
                <span ng-hide="n.broadcast" cal-show-local>
                    <cal-delete b-class="icon-x-altx-alt" action="delete(n.id)"></cal-delete>
                </span>
            </span>
        </li>
    </ul>
</div>