<div class="container">
<div class="row">
    <h1 class="page-title">{{'LOCATION_APPLY' | translate}}</h1>
    <div class="col-md-12 apply-page">
        <div class="panel panel-default">
            <!-- <div class="panel-body">
                <p class="help">{{'LOCATION_APPLY_HELP' | translate}}</p>
            </div> -->
            <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="l in locations" 
                    ng-click="apply(l.id)"><span id="location">
                    {{l.name}}</span>
                    <span ng-show="pending(l.id)" class="label label-warning pull-right">{{'STATUS_PENDING' | translate}}</span>
                    <span ng-show="user(l.id)" class="label label-success pull-right">{{'STATUS_REGISTERED' | translate}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>