<div class="edit-location-page">
<div class="row">
    <div class="col-md-4" ng-show="id">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'LOCATION_LOGO' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{logoUrl}}" style="width: 74px;">
                    </div>
                    <div class="col-md-6" style="margin-top: 20px;">
                        <span class="btn btn-primary btn-file">
                            <img src="/css/button-loader.gif" style="height: 20px;" ng-show="uploading"/>
                            {{'UPLOAD_LOGO' | translate}}
                            <input type="file" ng-file-select="onFileSelect($files)" class="uploadBtn" accept="image/*"/>
                        </span>
                        <h6>{{'PREFERRED_LOGO_SIZE' | translate}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'LOCATION_NAME' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="form-control-wrapper">
                        <input cal-enable-global type="text" ng-model="name" placeholder="{{'LOCATION_NAME' | translate}}" class="form-control"/>
                        <span class="material-input"></span>
                        </div>
                        <br>
                        <select-timezone offset="offset" ></select-timezone>
                    </div>
                    <div class="col-md-4">
                        <button cal-show-global class="btn btn-primary btn-block" ng-click="submit()">{{'BUTTON_SAVE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="id">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'DEVICE_OVERVIEW' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <button type="button" ng-click="goTo('#/location/history/'+id)" class="btn btn-link">{{'RESERVATION_HISTORY' | translate}}</button><br>
                    <button type="button" ng-click="goTo('#/location/currentStatusReservation/'+id)" class="btn btn-link">{{'CURRENT_STATUS_RESERVATIONS' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="id">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'LOCATION_PENDING' | translate}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in pendings">
                    {{user.name}} ({{user.mail}})
                    <span class="actions">
                        <span class="icon-check-alt" style="color:gray;" ng-click="toUser(user.mail)"></span>
                        <span class="icon-x-altx-alt" style="color:gray;" ng-click="delete(user.mail)"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'LOCATION_USERS' | translate}}</h3>
            </div>
            <div class="panel-body form-group">
                <p>
                    <div class="form-control-wrapper">
                    <input type="text" ng-model="user" placeholder="{{'LOCATION_USER_NEW' | translate}}" class="form-control"/>
                    <span class="material-input">
                    </div>
                </p>
            </div>
            <ul class="list-group">
                <li ng-repeat="user in users" class="list-group-item">
                    {{user.name}} ({{user.mail}})
                    <span class="actions">
                        <span class="icon-arrow-up-alt1" style="color: gray;" ng-click="toAdmin(user.mail)"></span>
                        <cal-delete action="delete(user.mail)" class="icon-x-altx-alt actions-no-margin"></cal-delete>
                    </span>
                </li>
            </ul>
            <div class="panel-body">
                <button class="btn btn-primary btn-block" ng-click="toUser(user)" onClick="$('.form-control-wrapper').children('input').val('');">{{'BUTTON_ADD' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'LOCATION_ADMINS' | translate}}</h3>
            </div>
            <div class="panel-body form-group">
                <p>
                    <div class="form-control-wrapper">
                    <input type="text" ng-model="admin" placeholder="{{'LOCATION_ADMIN_NEW' | translate}}" class="form-control"/>
                    <span class="material-input">
                    </div>
                </p>
            </div>
            <ul class="list-group">
                <li ng-repeat="admin in admins" class="list-group-item">
                    <span>
                        <a href="#/profile/edit/{{admin.mail}}/{{id}}">{{admin.name}} ({{admin.mail}})</a>
                        <span class="actions">
                            <span class="icon-arrow-down-alt1" style="color: gray" ng-click="toUser(admin.mail)"></span>
                            <cal-delete action="delete(admin.mail)" b-class="icon-x-altx-alt actions-no-margin"></cal-delete>
                        </span>
                    </span>
                </li>  
            </ul>
            <div class="panel-body">
                <button class="btn btn-primary btn-block" ng-click="toAdmin(admin)" onClick="$('.form-control-wrapper').children('input').val('');">{{'BUTTON_ADD' | translate}}</button>
            </div>
        </div>
    </div>
</div>
</div>