
/* 
    Created on : 26 mars 2014, 12:00:09
    Author     : Clement <clement.hannicq@revevol.eu>
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);


html{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, body, p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40pt;
    font-weight: 300;
}
h2{
    font-size: 20pt;
    font-weight: 400px;
}
h4{
    font-size: 16pt;
    font-weight: 400;
   /* margin-bottom: 17px !important;*/
}
h5{
    font-size: 20pt !important;
    font-weight: 200;
}
.light{
    font-weight: 300; 
}

.newspage h4 {
  color: rgba(0, 0, 0, 0.77);
  font-size: 20px;
  padding-bottom: 20px;
}
.news a{
    color: blue !important;
    text-decoration: underline !important;
}

a:hover, a:active{
    text-decoration: none;
}

.snap-drawer{
    background-color: white;
}

.snap-drawer p{
    padding-left: 35px;
}

.snap-content{
    background-color: #EFEFEF;
}

ul{
    padding: 0px;
    list-style: none;
}

#header{
    height: 64px;
    font-weight: normal;
    border: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #FFA70F;
    margin-bottom: 10px;
}

.no-padding{
    padding: 0px;
}

.multiselect{
width: 100%;
}

.multiselect tr td:first-child{
width: 2.1rem;
font-size: 2rem;
}

.clickable{
cursor: pointer;
}

.clickable:hover{
background-color: #b3b6b6;
}

.actions {
    float: right;
    font-size: 18px;
}

.today {
    color: grey;
}

.today.selected{
    color: white;
}

h1.panel-title {
    text-align: center;
    font-weight: bold;
}

h1.weekcal{
    font-size: 40pt;
    font-weight: 300;
    margin-top: -7px;
}
.weekcal-day{
    font-size: 14pt;
}

.help{
    text-align: center;
    font-style: italic;
}

#ack{
    position:absolute;
    bottom: 0;
    font-weight: bold;
    font-style: italic;
}

#title{
    color: white;
    font-weight: 400;
    font-size: 20pt;
}
#title-loc{
    font-weight: 300;
}

#header-title{
    margin-left: 45px;
    margin-top: -5px;
}

#week-dates{
    text-align: center;
}

#week-select{
    height: 68px;
    border-bottom: 2px solid #E1E0E2;
}
.news {
    background-color: white;
    margin-top: -10px;
}



/* BOOTSTRAP OVERIDES */

.col-md-2 {
     padding: 0 !important;
   margin: 0 !important;
}

.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.panel-default>.panel-heading {
color: #333;
background-color: #FFFFFF;
border: 0px;
}

.news .panel {
margin-bottom: 20px;
background-color: #fff;
border-right: 0px;
border-top: 0px;
border-bottom: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.05);
padding: 20px 0px;
padding-bottom:  0px;
/*border-left: 0px;*/
}
.panel-default {
    border: 0px; 
}

.left-padding{
  padding-left: 20px;
}

.icon-bars{
    font-size: 20pt;
}
/*.panel.cal-day {
    border-right: 2px solid #EFEFEF;
}*/
.cal-month {
    background-color: #EFEFEF;
    border-bottom: 2px solid #E1E0E2;
    border-top: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.12);
}
.light {
    color: #A5A5A5;
}

.news .col-md-6:first-child{
    border-right: 2px solid #EFEFEF;
}


.newspage {
    background-color: #fff; 
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    border-radius: 2px;
    border: 0;
}

.newspage .list-group-item {
padding: 30px;
border-bottom: 1px solid #EFEFEF;
}

.newspage{ 
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.page-title{
    margin-top: 60px;
margin-bottom: 40px;
}

.newspage p{
    color: #757575;
}

.newspage .panel{
    margin-bottom: 0px !important;
}

.statsme-page{
    background-color: #fff; 
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    border-radius: 2px;
    border: 0;
}

.statsme-page h5{
    padding: 40px;
}
.statsme-page .panel{
    margin-bottom: 0px !important;
}

#menu-header{
    height: 64px;
    font-weight: normal;
    border: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #FFA70F;
    margin-bottom: 10px;

}

#menu-name{
    color: white;
    padding-top: 20px;
}

.menu-item{
    padding-top: 15px;
}

.menu-item a span {
    font-size: 25px;
    padding-right: 20px;
    color: #BCBCBC;
}

/*.news h4 {
  font-size: 6px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}*/

.cal-title {
  padding-left: 20px;
}

.devices{
  padding-left: 20;
}
