/* 
    Created on : 1 avr. 2014, 16:01:30
    Author     : Clement <clement.hannicq@revevol.eu>
*/

.modal{
    background-color:rgba(10,10,10,0.7);
    position:fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 99999999999999;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content{
    font-size: 3em;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.modal-pane{
    text-align: justify;
    padding: 15px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: auto;
    border-radius: 7px;
    background:white;
    color: black;
    padding-left: 45px;
    padding-right: 45px;
}


.modal div input{
    width: 100%
}

.modal div button{
    width: 100%
}

#modal-close{
    position: absolute;
    top: 2px;
    right: 2px;
}