<div snap-drawer ng-controller="MenuCtrl" style="overflow-x: hidden">
    <div>
        <h2>{{myName()}}</h2>
        <p>
            <a href="#/calendar" snap-close><span class="icon-calendar"></span> {{'MENU_CALENDAR' | translate}}</a>
        </p>
        <p>
            <a href="#/news" snap-close><span class="icon-comment"></span> {{'MENU_NEWS' | translate}}</a>
        </p>
        <p cal-show-local>
            <a href="#/news/new" snap-close><span class="icon-edit"></span> {{'MENU_NEWS_ADD' | translate}}</a>
        </p>
        <p cal-show-local>
            <a href="#/stats" snap-close><span class="icon-globe"></span> {{'MENU_STATS_LOCATION' | translate}}</a>
        </p>
        <p>
            <a href="#/stats/me" snap-close><span class="icon-profile"></span> {{'MENU_STATS' | translate}}</a>
        </p>
        <p>
            <a href="#/apply" snap-close><span class="icon-bookmark"></span> {{'MENU_APPLY' | translate}}</a>
        </p>
        <h3 cal-show-local>{{'MENU_SETTINGS' | translate}}</h3>
        <p cal-show-local>
            <a href="#/location/edit/{{location()}}" snap-close><span class="icon-user"></span> {{'MENU_LOCATION' | translate}}</a>
        </p>
        <p cal-show-global>
            <a href="#/location/list" snap-close><span class="icon-globe"></span> {{'MENU_LOCATIONS' | translate}}</a>
        </p>
        <p cal-show-local>
            <a href="#/devices/list" snap-close><span class="icon-mobile-phone"></span> {{'MENU_DEVICES' | translate}}</a>
        </p>
        <p>
            <a href="#/profile/edit/me/-1" snap-close><span class="icon-profile"></span> {{'PROFILE' | translate}}</a>
        </p>
        <p cal-show-global>
            <a href="#/report/glob" snap-close><span class="icon-bars"></span> {{'REPORT' | translate}}</a>
        </p>
        <p>
            <a href="/logout" snap-close><span class="icon-times"></span> {{'MENU_LOGOUT' | translate}}</a>
        </p>
        <div style="height: 160px;"></div>
    </div>
    <div id="ack-image" style="background-color: #fafafa">
        <img ng-src="{{logo.url}}" style="max-height: 120px; max-width: 230px;"><br
        <p id="ack">
            <font size="1">Developed by Google</font>
            <br>
            <font size="1">with the support of Revevol, Intel</font>
        </p>
    </div>
</div>