<div ng-controller="RegisterCtrl">
    <div ng-show="show" class="modal" id="register_fade">
        <div class="modal-pane">
            <h1>{{'REGISTER_WELCOME' | translate}}</h1>
            <p>{{'REGISTER_HELP' | translate}}</p>
            <input type="text" placeholder="{{'REGISTER_USERNAME' | translate}}" class="topcoat-text-input form-control" ng-model="name" />
            <button class="topcoat-button--cta btn btn-default btn-block" ng-click="submit()">{{'BUTTON_REGISTER' | translate}}</button>
        </div>
    </div>
</div>