<table class="{{class}} cal-top" style="width: 100%">
    <colgroup>
        <col style="width:20%">
        <col style="width:60%">
        <col style="width:20%">
    </colgroup>
    <tbody>
        <tr>
            <td class="cal-to-left" ng-click="visibilityCalendar()">
                <p class="weekcal-day cal-title light">{{date | date: "yyyy"}}</p>
                <h1 class="weekcal">{{date | date: "MMM"}}</h1>
            </td>
            <td class="cal-to-center" ng-click="visibilityCalendar()">
            </td>
            <td class="cal-to-right" >
                <span class="arrow-left" ng-click="changeMonth(-1)"></span>
                <span class="arrow-right" ng-click="changeMonth(1)"></span>
            </td>
        </tr>
    </tbody>
</table>
<div style="backgound-color: #EFEFEF">
<table class="{{class}}" width="100%">
    <colgroup>
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
    </colgroup>
    <tbody>
        <tr class="day-of-week">
            <td>{{"MONDAY" | translate}}</td>
            <td>{{"TUESDAY" | translate}}</td>
            <td>{{"WEDNESDAY" | translate}}</td>
            <td>{{"THURSDAY" | translate}}</td>
            <td>{{"FRIDAY" | translate}}</td>
            <td>{{"SATURDAY" | translate}}</td>
            <td>{{"SUNDAY" | translate}}</td>
        </tr>
        <tr ng-repeat="week in cal" class="week-in-cal">
            <td ng-repeat="cell in week" 
                ng-click="select(cell.id)"
                ><span ng-class="{
                    today : cell.today, 
                            selected: cell.number === date.getDate() && !cell.otherMonth, 
                            other_month : cell.otherMonth}"
                ng-click="select(cell.id)">{{cell.number}}</span>
            </td>
        </tr>
    </tbody>
</table>
</div>
<!-- <button class="{{btnClass}}" ng-click="today()">{{"TODAY"| translate}}</button> -->
<a href="" class="" ng-click="today()" style="padding: 10 10 10 10; color: #4CCFE0;">{{"Jump to Today"| translate}}</a>

