/* 
    Created on : 26 mars 2014, 12:00:02
    Author     : Clement <clement.hannicq@revevol.eu>
*/
h3.cal{
   text-align: center;
}


table.cal{
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    border-collapse: collapse;
    color: black;
}

.cal tbody tr td{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.other_month{
    color: #E1E0E2;
}

.selected {
    background-color: #FFB200;
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    margin: auto;
}

.today {
    color: white;
}

.day-of-week{
    font-size: 0.8rem;
}

.cal-to-left{
    text-align: left;
}

.cal-to-center{
    text-align: center;
    font-weight: bold;
}

.cal-to-right{
    text-align: right;
}
table.cal tbody{
    background-color: #EFEFEF;
}
.week-in-cal{
    height: 45px;
    font-size: 10pt;
}
table.cal.cal-top tbody {
    background-color: #E1E0E2;
}

.cal-month .panel-body {
    background-color: #EFEFEF;
    padding-bottom: 20px;
}
@media (max-width: 1300px){
    .week-in-cal{
        height: 30px;
        font-size: 10pt;
    }
}