<table class="{{class}}" style="width: 100%">
    <colgroup>
        <col style="width:20%">
        <col style="width:60%">
        <col style="width:20%">
    </colgroup>
    <tbody>
        <tr>
            <td class="cal-to-left" ng-click="changeMonth(-1)">
                <span class="icon-chevron-left"></span>
            </td>
            <td class="cal-to-center">
                <span ng-click="visibilityCalendar()">{{date | date: "MMM yyyy"}}</span> 
            </td>
            <td class="cal-to-right" ng-click="changeMonth(1)">
                <span class="icon-chevron-right"></span>
            </td>
        </tr>
    </tbody>
</table>
<table class="{{class}}" width="98%">
    <colgroup>
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:14%">
    </colgroup>
    <tbody>
        <tr class="day-of-week">
            <td>{{"MONDAY" | translate}}</td>
            <td>{{"TUESDAY" | translate}}</td>
            <td>{{"WEDNESDAY" | translate}}</td>
            <td>{{"THURSDAY" | translate}}</td>
            <td>{{"FRIDAY" | translate}}</td>
            <td>{{"SATURDAY" | translate}}</td>
            <td>{{"SUNDAY" | translate}}</td>
        </tr>
        <tr ng-repeat="week in cal">
            <td ng-repeat="cell in week" 
                ng-class="{
                    today : cell.today, 
                            selected: cell.number === date.getDate() && !cell.otherMonth, 
                            other_month : cell.otherMonth}"
                ng-click="select(cell.id)"
                >
                {{cell.number}}
            </td>
        </tr>
    </tbody>
</table>
<button class="{{btnClass}}" ng-click="today()">{{"TODAY"| translate}}</button>