<div style="position:relative;">
    <div class="button-right" ng-click="toggle()">
        <span class="icon-search"></span>
    </div>
    <div class="search-modal" ng-show="show" 
         style="
         z-index: 99999999;
         ">
        <div class="padded">
            <select multiple ng-options="a.id as a.name for a in data" ng-model="search.assets" class="form-control">
                <option value="">{{'CAL_FILTER' | translate}}</option>
            </select>
        </div>
        <div class="padded">
             <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="toggle()"><span class="check"></span> {{ 'CAL_FILTER_MINE' | translate}}
                </label>
            </div>
            <div class="button-right" ng-click="toggle()">
                <span class="icon-times"></span>
            </div>
        </div>

    </div>
</div>