<div class="container">
<div class="pull-right" ng-if="news.length > 0">
    <i class="icon-chevron-left" ng-class="prevPageDisabled()" ng-click="prevPage()"></i>
    <span>{{currentPage+1}}</span>
    <span>{{'OF' | translate}}</span>
    <span>{{pageCount()+1}}</span>
    <i class="icon-chevron-right" ng-class="nextPageDisabled()" ng-click="nextPage()"></i>
</div>
<div class="row">
    <h1 class="page-title">{{'NEWS' | translate}}</h1>
    <div class="col-md-12 newspage">
        <div class="panel panel-default">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="n in news 
                            | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                    <h4 class="list-group-item-heading">
                        {{n.title}}
                        <span class="actions">
                            <span ng-show="n.broadcast" cal-show-global>
                                <a href="#/news/edit/{{n.id}}">
                                    <span class="icon-edit"></span>
                                </a>
                                <cal-delete action="delete(n.id)" b-class="icon-x-altx-alt"></cal-delete>
                            </span>
                            <span ng-hide="n.broadcast" cal-show-local>
                                <a href="#/news/edit/{{n.id}}">
                                    <span class="icon-edit"></span>
                                </a>
                                <cal-delete action="delete(n.id)" b-class="icon-x-altx-alt"></cal-delete>
                            </span>
                        </span>
                    </h4>
                    <p ng-bind-html="n.content | linky:'_blank'" class="news"></p>
                    <p><small>{{n.authorName}} - {{n.date| date: 'EEEE d MMMM'}}</small></p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>