<div class="topcoat-list">
    <h3 class="topcoat-list__header calendar-head">
        <span class="pull-left arrow-left" ng-click="yesterday()"></span>
        <span class="pull-right arrow-right" ng-click="tomorrow()"></span>
        <span class="center" ng-click="changeDate()">
            {{date | date : 'EEEE d MMMM'}}
        </span>

    </h3>
    <div id="datePicker" ng-show="pick">
        <cal-endar date="date" class="cal" btn-class="topcoat-button--cta" />
    </div>
     <cal-hour-picker min="0" max="24" marginmobile="20px" id="calhour" class="topcoat-list__container day" date="date" offset="0" filter="search" />
</div>
<cal-menu search="search" in="devices"></cal-menu>