<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.google.appengine.samples.helloendpoints.Greetings</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>eu.revevol.calendar.security.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoUpload</servlet-name>
        <servlet-class>eu.revevol.calendar.servlet.LogoUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlignmentServlet</servlet-name>
        <servlet-class>eu.revevol.calendar.servlet.AlignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurgeServlet</servlet-name>
        <servlet-class>eu.revevol.calendar.util.PurgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>eu.revevol.calendar.security.LogoutLinkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoUpload</servlet-name>
        <url-pattern>/desktop/LogoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlignmentServlet</servlet-name>
        <url-pattern>/AlignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurgeServlet</servlet-name>
        <url-pattern>/purge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TaskSendEmail</servlet-name>
        <servlet-class>eu.revevol.calendar.task.TaskSendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskSendEmail</servlet-name>
        <url-pattern>/task/TaskSendEmail</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Purge needs admin access</web-resource-name>
            <url-pattern>/purge</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Logout</web-resource-name>
            <url-pattern>/logout</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>dashboards</web-resource-name>
            <url-pattern>/mobile/*</url-pattern>
            <url-pattern>/desktop/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <filter>
        <description>Token Filterr</description>
        <filter-name>TokenFilter</filter-name>
        <filter-class>eu.revevol.calendar.security.TokenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/_ah/api/person/v1/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/_ah/api/asset/v1/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/_ah/api/reservation/v1/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/_ah/api/location/v1/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/_ah/api/setup/v1/*</url-pattern>
    </filter-mapping>
AlignementServlet
    </web-app>
